* {
    /* border: red dotted 1px; */
}

body {
    background-color: blue;
    color: lightcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5em;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navbar {
    color: green;
}

header h1 {
    color: red;
}

h1 {
    color: goldenrod;
    font-size: 3em;
    font-style: oblique;
    justify-content: center;
    margin: auto
}

header {
    justify-content: center;
}